		.border{border:2px solid gray;
		
		height: 300px;
		width: 200px;


			margin:5% 0% 0% 30% ;
			padding:8%;
			 text-align: center;
			  background-image: url("brown1.jpg");
		background-size:cover;
	
	}
body{background-image:url("brown1.jpg"); 
}

input,.color{border-radius: 12px;
	text-align: center ;
	 padding: 6px;}
	
	


	

		.event{ border-radius: 12px;
		 background-color: red;}
		.event1{border-radius: 12px;
			background-color: blue;}
		.event a{color: white;
		 text-decoration: none; }
		.event1 a{color: white;
			text-decoration: none;}
      .login{text-decoration: none;
      	color: white; }
		.color{background-color: blue;
			width:60%; }
		.header p a{
			text-decoration: none;
			color: white;
			color: blue;
		}

		p
		
		{
			color: white;
		}






 

