
.header1{
background-color: black;
height: 35px;
border-radius:12px;
}



.navitem {
	display: flex;
	/*flex-direction: column;*/
}
.navitem a{
	list-style-type: none;
	font-size: 25px;
	text-decoration: none;
	margin: 0px 40px;
	color: white;
}
#log{
	margin-left: 700px;
}
.linkitem
{ padding: 25px;
 color: white; 
 text-decoration: none;
}
.li{text-align:right;}
.bgimage{background-image: url("sceneryimge.jpg");
height:400px;
background-size: cover;
background-repeat:no-repeat ;
background-position:center;
}
.bgimage h1{
	position: relative;
	top: 40%;
	text-align: center;
	text-transform: uppercase;
color:white;

}

.header
{
padding:20px;
text-align:none;
display: flex;
}
.link{
	text-decoration:none;
}
p
{
	text-align: center;

}
.footer
{
	list-style-type:none;
	text-decoration: none;


}
.contact,h3
{
text-align:right;	
}


	

	









